.Apply-Card{
    margin: 17px 30px;
    margin-left: 107px;
    .Application-Card-content-img{
        height: 180px;
        width: 310px;
        margin-left: 62px;
        img{
            height: 180px;
            width: 275px;
            
        }
    }
}