.companyForm{
    margin-left: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 20px black;
    .companyForm-Img{
        padding-right: 178px;
    }
    .companyForm-Icon{
        font-size: 140px;
    }
    .companyForm-left{
        float: left;
    }
    // .companyForm-right{
    //     float: left;  
    // }
    .Company-div{
        margin: 10px 10px;
    }
    
}