.user-form{
    form{
        border-radius: 15px;
        box-shadow: 0 4px 20px black;
    }
    // margin-left: 260px;
    .userForm-Img-Icon{
        font-size: 140px;
    }
    .userForm-left{
        float: left;
        margin-left: 328px;
    }
}