.renderInfoCompany{
    padding-top: 54px;
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    background: #f8f9fc;
    height: 695px;
    .Info-left{
        padding-left: 300px;
        .Info-left-item{
            float: left;
            h2{
                font-size: 30px;
                color: #1f1f25;
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                color: #1f1f25;
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                margin-bottom: 20px;
            }
            span{
                color: #1f1f25;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                margin-bottom: 20px;
            }
        }
        .Info-right-item{
            float: left;
            .Info-right-item-Img{
                img{
                    border-radius: 100%;
                    padding: 0;
                    border: 14px solid #fff;
                    width: 394px;
                    height: 394px;                     
                }
            }
            
        }
    }
    .About{
        justify-content: center;
        min-width: 570px;  
        padding: 115px 0px;     
        .About-Item{
            width: 100%;
            height: 100%;
            clear: both;
            float: left;
            position: relative;
            border: 4px solid gray;
            box-shadow: 0 5px 30px gray;
            border-radius: 4px;
            text-align: center;
            padding: 0 40px 53px;
            z-index: 1;
            .About-right-div{
                padding: 16px 0px;
            }
            .About-right-div-name{
                color: red;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                margin-bottom: 20px;
            }
        }
    }
}
