.footer {
    margin-top: 60px;
    background-color: #222;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 2px 0px;
    a {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      color: #949494;
      font-size: 13px;
      white-space: nowrap;
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: orange;
      }
    }
    .partner-logo {
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin-right: 15px;
      &:hover {
        opacity: 0.6;
      }
    }
    .icon-app {
      border-radius: 50%;
      height: auto;
      width: 30px;
      margin: 1px;
    }
    .icon-social {
      border-radius: 50%;
      height: auto;
      width: 30px;
      margin: 1px;
    }
  }
  